#form {
    margin: 10vh auto;
    max-width: 400px;
    padding: 100px;
    background-color: #0096c7;
    text-align: center;
    border-radius: 25px;
}

#form div {
    margin: 25px;
}

#form button {
    width: 100px;
    background-color: #03045e;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

#form p {
    margin: 10px;
    padding: 10px;
    background-color: red;
}